<!DOCTYPE html>
<html lang="en">  
<div class="container">  
  <form id="contact" action="" method="post">
    <fieldset>
    <h1>SIGN UP FORM</h1>
    <h2>Please fill in the details so we can find a recepient!</h2>
      <h3>Enter your name:</h3>
      <input name="name" placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <h3>Enter your email id:</h3>
      <input name="email" placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <h3>Enter your phone number:</h3>
      <input name="phoneNo" placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <h3>Enter your full address:</h3>
      <input name="location" placeholder="Your address" type="text" tabindex="4" required>
    </fieldset>
    <fieldset>

