<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - CropSwap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" height="100">
        <h1>CropSwap</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.email %}
                    {% if session.type == 'FARMER' %}
                        <li><a href="{{ url_for('give_away_form') }}">Create Giveaway</a></li>
                        <li><a href="{{ url_for('my_giveaway_list') }}">My Giveaways</a></li>
                    {% elif session.type == 'RECP' %}
                        <li><a href="{{ url_for('giveaway_list') }}">Available Giveaways</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('farmer_sign_up_page') }}">Farmer Signup</a></li>
                    <li><a href="{{ url_for('recipient_sign_up_page') }}">Recipient Signup</a></li>
                {% endif %}
                 <li><a href="{{ url_for('giveaway_list') }}">All Giveaways (Public)</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <section class="index-actions">
            <h2>ARE YOU A FARMER OR A BUYER?</h2>
            <p>Join our platform to connect with farmers or find produce.</p>
            <a href="{{ url_for('farmer_sign_up_page') }}" class="button button-farmer">I'M A FARMER</a>
            <a href="{{ url_for('recipient_sign_up_page') }}" class="button button-recipient">I'M A BUYER</a>
        </section>
    </main>
    <!-- <footer>
        <p>&copy; 2024 CropSwap. All rights reserved.</p>
    </footer> -->
</body>
</html>