<html>
<head>
<title>BUY </title>
<br><br><br>
<center>
    <h1 style="font-size:100px;">ARE YOU A FARMER OR A BUYER?</h1>
</center>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #899e96;
  color: white;
}

.button1 {background-color: #04AA6D;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body bgcolor="#FFFFC5">
  <br><br><br>
<center>
<a href="temp.html" class="button button1">FARMER</a>
<a href="temp.html" class="button button2">BUYER</a>
</center>
</body>
</html>