<!DOCTYPE html>
<html lang="en">  
<div class="container">  
  <form id="contact" action="" method="post">
    <fieldset>
    <h1>LOGIN FORM</h1>
      <h3>Enter your email:</h3>
      <input name="email" placeholder="Your email" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <h3>Password:</h3>
      <input name="password" placeholder="" type="password" tabindex="4" required>
    </fieldset>
    <fieldset>
    <fieldset>
      <button type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>

